html {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: transparent;
}

*{
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    outline: transparent;
    font-size: inherit;
    font-family: inherit;
    display: block;
    
}

input::placeholder,
textarea::placeholder{
  opacity: 1;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.lock{
  overflow: hidden;
}